

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">OK</button>
  </div>
</ng-template>



<ng-template #monthCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ getHours(day.events) + ' hours' }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <div class="cell-totals">
    <span *ngFor="let group of day.eventGroups" class="badge" [style.background-color]="group[1][0].timecardentry.badgecolour">
      {{ group[0] + ' {' + getHours(group[1]) + '}'  }}
    </span>
  </div>
</ng-template>



<ng-template #weekHeaderTemplate let-days="days" let-locale="locale" let-dayClicked="dayClicked">
  <div class="cal-day-headers">
    <div
      class="cal-header"
      *ngFor="let day of days"
      [class.cal-past]="day.isPast"
      [class.cal-today]="day.isToday"
      [class.cal-future]="day.isFuture"
      [class.cal-weekend]="day.isWeekend"
      [class.cal-drag-over]="day.dragOver"
      (click)="dayClicked.emit({date: day.date})">
      <b>{{ day.date | calendarDate:'weekViewColumnHeader':locale }}</b><br>
      <span>{{ day.date | calendarDate:'weekViewColumnSubHeader':locale }}</span>
    </div>
  </div>
</ng-template>





<div class="row ">
  <div class="col-12">
    <calendar-header
      [(view)]="view"
      [(viewDate)]="viewDate"
      (addEvent)="addEvent($event)">
    </calendar-header>
  </div>

  <div class="col-12 groot-calendar-container" [ngSwitch]="view">

    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [dayModifier]="groupEvents"
      (dayClicked)="viewDate = $event.day.date; view = 'week'"
      (eventClicked)="handleEvent('Clicked', $event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      [cellTemplate]="monthCellTemplate"
      >
    </mwl-calendar-month-view>

    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (dayClicked)="viewDate = $event.date"
      (eventClicked)="handleEvent('Clicked', $event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      [headerTemplate]="weekHeaderTemplate"
      >
    </mwl-calendar-week-view>

  </div>
</div>
