
<nav class="navbar navbar-default header-nav">

    <div class="navbar-header">

        <a href="#" class="navbar-brand logo">
            <span><img alt="Strath Demo" src="/wwwroot/images/logo_en.png"/></span>
            <span class="text">Strath Demo</span>
        </a>

        <span class="watermark hidden-sm hidden-xs">QA</span>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <div class="button-icon-wrapper">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <span>links</span>
        </button>
        <div class="debug-size-revealer">&nbsp;</div>
    </div>

    <div class="collapse navbar-collapse navbar-right" id="main-navbar-collapse">

        <ul class="nav navbar-nav">

            <li>
                <p class="navbar-text dropdown-toggle user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome <b>Strath</b>!
                    <span class="caret"></span>
                </p>

                <ul class="dropdown-menu">
                    <li class="text-right"><a href="#">I am Groot</a></li>
                    <li class="text-right"><a href="#">Sign off</a></li>
                </ul>
            </li>

        </ul>

    </div>

</nav>


