
<div class="modal-header">
  <h5 class="modal-title">{{ modalData.heading }}</h5>
</div>

<div class="modal-body">

  <form (ngSubmit)="onSubmit()" #tceForm="ngForm">

    <div class="form-group row">
      <div class="col-3">
        <label for="worktype">Type</label>
      </div>
      <div class="col-9">
        <select class="form-control form-control-sm" id="worktype" name="worktype"
                required 
                [disabled]="modalData.action ==='View'"
                [(ngModel)]="modalData.timecardentry.worktype.id"
                (change)="worktypeChanged($event.target.selectedIndex)">
          <option *ngFor="let w of worktypes" [ngValue]="w.id">{{ w.name }}</option>
        </select>
      </div>
    </div>


    <div class="form-group row" *ngIf="modalData.timecardentry.worktype.type != 'O'">
      <div  class="col-3">
        <label for="piworktype">Project / Initiative</label>            
      </div>
      <div  class="col-9">
        <select class="form-control form-control-sm" id="piworktype" name="piworktype"
                required 
                [disabled]="modalData.action ==='View'"
                [(ngModel)]="modalData.timecardentry.piworktype.id">
          <option *ngFor="let w of piworktypes | piworktypefilter : modalData.timecardentry.worktype.type" [ngValue]="w.id">{{ w.name }}</option>
        </select>            
      </div>
    </div>


    <div class="form-group row" *ngIf="modalData.timecardentry.worktype.type == 'O'">
      <div  class="col-3">
        <label for="worktypedescription">Description</label>
      </div>
      <div  class="col-9">
        <input type="text" class="form-control form-control-sm" id="worktypedescription" name="worktypedescription"
              [disabled]="modalData.action ==='View'"
              [(ngModel)]="modalData.timecardentry.worktypedescription">
      </div>
    </div>


    <div class="form-group row">
      <div  class="col-3">
        <label for="worktask">Work Task</label>
      </div>
      <div  class="col-9">
        <select class="form-control form-control-sm" id="worktask" name="worktask"
                [disabled]="modalData.action ==='View'"
                [(ngModel)]="modalData.timecardentry.worktask.id">
          <option [value]=""></option>
          <option *ngFor="let w of worktasks" [ngValue]="w.id">{{ w.name }}</option>
        </select>
      </div>
    </div>


    <div class="form-group row">
      <div  class="col-3">
        <label for="value">Hours</label>
      </div>
      <div  class="col-2">
        <input type="number" class="form-control form-control-sm" id="value" name="value"
              required gt="0" #value="ngModel"
              [disabled]="modalData.action ==='View'"
              [(ngModel)]="modalData.timecardentry.value">
      </div>
      <div class="w-100"></div>
      <div class="offset-sm-3 col-9">
          <div *ngIf="formErrors.value" class="alert alert-danger">
            {{ formErrors.value }}
          </div>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-12">
        <div class="text-right">
          <button type="button" class="btn btn-default btn-sm" 
                  [hidden]="modalData.action === 'View'"
                  (click)="activeModal.dismiss('cancel')">Cancel</button>
          
          <button type="button" class="btn btn-default btn-sm" 
                  [hidden]="modalData.action !== 'View'"
                  (click)="activeModal.dismiss('cancel')">Close</button>

          <button type="submit" class="btn btn-success btn-sm" 
                  [hidden]="!tceForm.form.valid || tceForm.form.pristine">Save</button>
        </div>
      </div>
    </div>

  </form>

</div>
