
  <div class="row">
    <div class="col-8">

      <div class="row text-center">
        <div class="col-4">
          <div class="btn-group btn-group-sm">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
              Previous
            </div>
            <div class="btn btn-secondary" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
              Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
              Next
            </div>
          </div>
        </div>

        <div class="col-4">
          <p>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</p>
        </div>

        <div class="col-4">
          <div class="btn-group btn-group-sm">
            <div class="btn btn-primary" (click)="viewChange.emit('month')" [class.active]="view === 'month'">
              Month
            </div>
            <div class="btn btn-primary" (click)="viewChange.emit('week')" [class.active]="view === 'week'">
              Week
            </div>
            <div class="btn btn-primary" (click)="viewChange.emit('day')" [class.active]="view === 'day'">
              Day
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 text-right">
      <!-- calendar commands -->
      <a addEventButton href="#" class="btn btn-sm btn-primary" (click)="addEvent.emit(viewDate)">Add</a>
    </div>
</div>
    