
  <div class="row">
    <div class="col">

      <div class="row text-center">
      
        <div class="col-4">
          <div class="btn-group btn-group-sm">
            <div class="btn btn-outline-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
              <
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
              Today
            </div>
            <div class="btn btn-outline-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
              >
            </div>
          </div>

          <div class="btn-group btn-group-sm">
            <div class="btn btn-outline-primary" (click)="viewChange.emit('month')" [class.active]="view === 'month'">
              Month
            </div>
            <div class="btn btn-outline-primary" (click)="viewChange.emit('week')" [class.active]="view === 'week'">
              Week
            </div>
          </div>
        </div>

        <div class="col-8 text-center">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
        </div>

      </div>

    </div>
  </div>
    